/*== Fonts ==*/
@font-face {
   font-family: 'Questrial';
   font-style: normal;
   font-weight: normal;
   src: url(fonts/Questrial-Regular.otf) format("opentype");
}
@font-face {
   font-family: 'Daniel';
   font-style: normal;
   font-weight: normal;
   src: url(fonts/daniel.ttf) format('truetype');
}
@font-face {
   font-family: 'Jellyka CuttyCupcakes';
   font-style: normal;
   font-weight: normal;
   src: url(fonts/jellyka-cuttycupcakes.ttf) format('truetype');
   perspective: 1px;
}

/*==General Styles==*/
body  {
   background: #222;
   background-image: url(img/cartographer/cartographer.png);
   background-position: fixed;

   margin: 0; padding: 0; width: 100%;

   text-align: justify;
   font: 100% Questrial, Arial, Helvetica, sans-serif;
   color: #000;

   background: url(img/topsail_pier_1.jpg) no-repeat center center fixed;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
}
#content{
   padding-left: 30px;
   padding-right: 30px;
   font-size: 1.3em;
	margin-left: auto;
	margin-right: auto;
	width: 65%;
	background-color: rgba(255,255,255,0.9);
   /*background-image: url(img/cross_scratches/cross_scratches.png);*/
	padding: 15px;
}
a {
   color: #68D;
}

.clearfloat{
   clear:both;
}

/*== Footer ==*/
#footer {
   font-size: 0.7em;
}
#footer p {
   padding: 0px;
}
#footer .attribution {
   font-size: 0.8em;
}

#footer hr {
   border-right: none; border-left: none;
   border-top: 1px solid #000; border-bottom: 1px solid #000;
   height: 3px; margin: 5px;
}

.on-hold {
   color: #999;
}

/*== Banner ==*/

#banner {
   width: 100%;
   height: 95vh; /* vh == vertical height of browser window */


   -webkit-filter: grayscale(1);

   text-align: center;
   display: table;
}
#banner #titleset {
   display: table-cell;
   vertical-align: middle;
   margin-top: auto;
   margin-bottom: auto;

   color: #FFF;
}
#banner .title {
   display: inline-block;
   margin: 0px;
   vertical-align: middle;

   font-size: 6em;
   text-decoration: none;
   /*font-family: 'Jellyka CuttyCupcakes';*/
}
#banner .subtitle {
   font-size: 3em;
   font-family: 'Questrial';
   margin-top: 0;
   margin-bottom: 0;
}
#banner .quote {
   font-size: 1.3em;
   font-family: 'Garamond';
   font-weight: lighter;
   font-style: italic;
}

/*== Arrow ==*/
.header {
  height:calc(100% - 3em); /* subtract an amount of space for your arrow element */
  width:100%;
}

.main {
  width:100%;
  position:relative;
}
.arrow-wrap {
  position:absolute;
  z-index:1;
  left:50%;
  top:-5em;
  margin-left:-5em;
  background:#FFF;
  width:50px;
  height:20px;
  padding:4em 2em;
  border-radius:50%;
  font-size:0.5em;
  display:block;
  box-shadow:0px 0px 5px 0px #333;
}

.arrow {
  float:left;
  position:relative;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 3em 3em 0 3em;
  border-color: #000 transparent transparent transparent;
  -webkit-transform:rotate(360deg)
}

/* a pseudo element arrow placed on top of the other one with the same color as the wrapper */
.arrow:after {
  content:'';
  position:absolute;
  top:-3.2em;
  left:-3em;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 3em 3em 0 3em;
  border-color: #FFF transparent transparent transparent;
  -webkit-transform:rotate(360deg);/* added for better anti-aliasing on webkit browsers */
}

@-webkit-keyframes arrows {
    0% { top:0; }
    10% { top:12%; }
    20% { top:0; }
    30% { top:12%; }
    40% { top:-12%; }
    50% { top:12%; }
    60% { top:0; }
    70% { top:12%; }
    80% { top:-12%; }
    90% { top:12%; }
    100% { top:0; }
}

.arrow-wrap .arrow {
 -webkit-animation: arrows 2.8s 0.4s;
 -webkit-animation-delay: 3s;
}

/*==Home Styles==*/
.home #banner .title, .name {
   font-family: 'Daniel';
}
#hi {
   font-size: 3em;
   color: #000;
   display: block;
}

/*== Projects ==*/
#projectBtnContainer {
   width: 100%;
   text-align: center;
}
.projectBtn {
   border: 1px solid black;
   height: 150px;
   width: 250px;
   border-radius: 5px;
   background: #FFF;
   margin: 5px;
    text-align:left;
   display: inline-block;
}

/*==Other Misc Formatting==*/
.blue {
   background-color: #0BB; color: #700;
   border: 2px solid #0EE;
}
.red {
   background-color: #700; color: #0BB;
   border: 2px solid #B00;
}

.red:hover{
   background-color: #0BB;
   color: #700;
   border: 2px solid #0DD;
   cursor: pointer;
}

.Btn {
   border: 1px solid black;
   width: 100%;
   height: 40px;
   margin: 2px;
}
