.navigation {
   list-style: none;
   position: fixed;
   top: 0; right: 0;
   margin: 20px;
   z-index: 10;
}
.nav-item {
   display: block;
   margin: 5px;
}
.nav-item a {
   color: #000;
   text-decoration: none;
   padding: 5px;
   border: 2px solid white;
   border-radius: 3px;

   width: 70px;
   display: block;
   text-align: center;
}
.nav-item.active a {
   border-color: #555;
}


/* Responsive styles */
.navigation label {
   position: absolute;
   right: 0;
   display: none;
   padding: 5px 10px 5px 10px;
   color: #FFF;
   font-size: 1.5em;
   background-color: #555;
}
.navigation input[type=checkbox] {
   display: none;
}

@media screen and (max-width: 44em) {
   body {
      overflow-x: hidden;
   }

   .navigation nav {
      position: absolute;
      transition: 1s;
      right: -20em;
      width: 20em;
   }

   .navigation label {
      display: block;
      position: absolute;
      top: 0; right: 0;
   }

   .navigation input:checked ~ nav {
      transition: 1s;
      right: 0;
   }

   .navigation input:checked ~ .content {
      transition: 1s;
      margin-left: 20.5em ;
      margin-right: -20.5;
   }
}