.navigation {
   list-style: none;
   position: fixed;
   top: 0; right: 0;
   margin: 20px;
   z-index: 10;
}
.nav-item {
   display: block;
   margin: 5px;
}
.nav-item a {
   color: #000;
   text-decoration: none;
   padding: 5px;
   border: 2px solid white;
   border-radius: 3px;

   width: 70px;
   display: block;
   text-align: center;
}
.nav-item.active a {
   border-color: #555;
}


/* Responsive styles */
.navigation label {
   position: absolute;
   top: 0; right: 0;
   display: none;
   padding: 5px 10px 5px 10px;
   color: #FFF;
   font-size: 1.5em;
   background-color: #555;
   position: absolute;
}
.navigation input[type=checkbox] {
   display: none;
   right: -20em;
}

.slicknav_menu{
   display: none;
   background: none;
   float:right;
}

.slicknav_btn {
   padding: 1em;
}
.slicknav_nav {
   float: right;
}
@media screen and (max-width: 45em) {
   #menu {
      display: none;
   }
   .slicknav_menu {
      display: block;
   }
}
