

<div id='footer' style="text-align: center;">
	<hr class="clearfloat"/>
	<p><a href="https://github.com/oddityoverseer13"><i class="fa fa-github-square contact-icon"></i></a>
	<a href="http://www.linkedin.com/in/derekkniffin"><i class="fa fa-linkedin-square contact-icon"></i></a>
	<a href="mailto:derek.kniffin@colorado.edu"><i class="fa fa-envelope-square contact-icon"></i></a>
	</p>
	<p class="attribution">
	This site was created entirely by Derek Kniffin. <a href="attribution.html">Attribution</a>
	</p>
</div>

