<div class="navigation">
	<ul id='menu'>
		{% for p in site.weighted_pages %}
		{% if p.nav_text != nil %}
		<li class="nav-item{% if p.url == page.url %} active{% endif %}">
			<a href="{{ site.url }}{{ p.url }}">{{ p.nav_text }}</a>
		</li>
		{% endif %}
		{% endfor %}
	</ul>
</div>
<div class='clearfloat'></div>
<div id='banner'>
	<div id='titleset'>
		<p class='title'>{{ page.title }}</p>
		<p class='subtitle'>{{ page.subtitle }}</p>
		<p class='quote'>{{ page.quote }}</p>
	</div>
</div>
