<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Derek Kniffin | {{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="{{site.url}}/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="{{site.url}}/css/main.css">
        <!-- Bowlby One SC font -->
        <!-- <link href='http://fonts.googleapis.com/css?family=Bowlby+One+SC' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Coda:800' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Black+Ops+One' rel='stylesheet' type='text/css'> -->
        <!-- link rel='styl' -->

    </head>
    <body>

        <div id="container">
          {% include header.html %}

          <div id='main'>
          {{ content }}
          </div>

          {% include footer.html %}
        </div>

    </body>
</html>
